.showtime-movie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.showtime-movie > .col-lg-9.col-md-9.col-sm-8 {
  background-color: #fff;
}
.page-showtime .container .showtime-movie .info a h3 {
  margin-top: 20px;
}
.page-showtime .container .showtime-movie .info h3,
.page-showtime .container .showtime-movie .showtimes .showtime-type {
  color: #000;
}
.page-showtime .container .showtime-movie .info .detail {
  overflow: hidden;
  margin-top: 10px;
}
.page-showtime .container .showtime-movie .showtimes a {
  display: inline-block;
  width: 65px;
  text-align: center;
  padding: 3px;
  margin: 0 8px 8px 0;
}
.page-showtime .container .showtime-movie .info .release .date {
  margin-bottom: -5px;
}
.showtimes {
  margin-top: 20px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Quicksand, Roboto, sans-serif;
}

body {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  background-image: url(images/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.page-post-detail .post-detail .post-content {
  font-size: 16px;
}

.list-post .post-item .post-detail .description {
  font-weight: 500;
}

.page-showtime .container .showtime-movie .star {
  width: max-content;
}

#notification {
  left: 20px;
}
#notification,
#notification .setting-content,
#notification .setting-content .setting-noti {
  display: inline-block !important;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

#notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: none;
}
#notification .setting-content .setting-noti {
  display: block;
  position: relative;
  text-align: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.setting-noti i {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: #f29438;
  color: #fff;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 1.9;
  position: relative;
  z-index: 999;
}
.setting-noti .circle {
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.1;
  border-color: #f29438;
  opacity: 0.5;
}
.setting-noti .fill {
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(242, 148, 56, 0.5);
  opacity: 0.75;
  right: -10px;
}
.setting-noti span.message {
  border-radius: 2px;
  text-align: center;
  background: #ea3b92;
  padding: 9px;
  display: none;
  width: max-content;
  width: -moz-max-content;
  margin-left: 10px;
  position: absolute;
  color: #ffffff;
  z-index: 999;
  top: 12px;
  right: 70px;
  transition: all 0.2s ease-in-out 0s;
}
.setting-noti span.message:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-right-width: 0;
  border-color: transparent transparent transparent #ea3b92;
  position: absolute;
  right: -10px;
  top: 10px;
}
.bell-popup {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 280px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: none;
}
.bell-popup:after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-bottom-width: 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  right: 20px;
  bottom: -10px;
}
.bell-popup .divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px -10px;
}
.bell-popup .bell-title {
  text-align: center;
  font-size: 18px;
  color: #ea3b92;
}
.bell-popup img {
  max-width: 100%;
}
.bell-group {
  padding: 5px 0;
}
.bell-gr-btn {
  text-align: center;
}
.bell-group button {
  background: #ea3b92;
  color: #fff;
  border: none;
  padding: 3px 15px;
  border-radius: 3px;
}
#notification .popover {
  width: max-content !important;
}
.notification-popover {
  width: auto;
  background-color: #ea3b92;
  color: #fff;
  position: fixed;
}
.notification-popover.popover.left > .arrow:after {
  border-left-color: #ea3b92;
}
#setallow {
  display: none;
}
@media only screen and (min-width: 786px) {
}
.mb-8 {
  margin: 0 0 8px 0 !important;
}
